form {
  width: 100%;
}

.markdown * {
  all: revert;
}

.markdown table {
  border-spacing: 0 !important;
  border-collapse: collapse !important;
  border-color: inherit !important;
  display: block !important;
  width: max-content !important;
  max-width: 100% !important;
  overflow: auto !important;
}

.markdown img {
  max-width: 100%;
}

.markdown pre {
  background: #303030;
  color: #f1f1f1;
  padding: 10px 16px;
  border-radius: 2px;
  -moz-box-shadow: inset 0 0 10px #000;
  box-shadow: inset 0 0 10px #000;
  counter-reset: line;
}

.markdown tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit !important;
  border-style: solid !important;
  border-width: 2px !important;
}
